.prd-container {
    width: 100%;
    background-color: white;
    height: 400px;
    align-items: center;
}

.prd-list {
    display: flex;
    width: 80%;
    margin: 5px 10%;
    height: 90%;
    justify-content: space-between;
    padding-top:4%;
}

.product-card-container{
    padding: 2%;
    margin: 0 1%;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.062);
    border-radius:40px;
    height: 240px;
    width: 350px;
    max-width: 115%;
    margin-top: 3%;
}

.product-card-container h3{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* or 133% */

letter-spacing: -0.15px;

color: rgba(30, 35, 39, 0.884);
}


.product-card-title {

font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

letter-spacing: -0.15px;

color: rgba(30, 35, 39, 0.897);
}
