.prd-container {
    width: 100%;
    background-color: white;
    height: 400px;
    align-items: center;
}

.prd-list {
    display: flex;
    width: 90%;
    margin: 5px 5%;
    height: 90%;
    justify-content: space-between;
}

.product-card-container{
    padding: 1%;
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0.062);
    border-radius:15px;
    height: 290px;
    width: 350px;
    margin-top: 3%;
}

.product-card-container h3{
    color: rgba(0, 0, 0, 0.815);
    font-weight: 300;
}

.product-card-title {

font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
/* or 133% */

letter-spacing: -0.15px;

color: rgba(30, 35, 39, 0.8);
}
