body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #24292e;

}

/* width */
::-webkit-scrollbar {
  width: 15px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #c9c8c8;
  border-radius: 30px;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(78, 87, 92);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #38A3F1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 1000px){
 
 /* HEADER COMPONENT*/
  .NavMenu a {
  display:none;
  }

  .HeadContainer button{
      max-width:10%;
  }

  .HeadContainer{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin: 0 20%;
      background-color: #24292E;
      color: #FCFCFC;
      font-size: 20px;
  }

  /* BANNER COMPONENT */

  .banner-footer {

    z-index: 500;
}

/* Products */
.prd-container {

  display: flex;
  width: 100%;
  min-height: 950px;
  background-color: white;
  justify-content: center;
}


.prd-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*  ABOUT SESSION */

.about-container {
  width: 100%;
  background-color: white;
  min-height: 800px;

}

.about-content-container{

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 15%;
  padding-top:5%;
}


}