.about-container {
    width: 100%;
    background-color: white;
    height: 650px;
}

.about-content-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 0 15%;
    padding-top:5%;
}

.about-content-container h3{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;

    text-align: center;
    letter-spacing: 0.3px;

    color: rgba(30, 35, 39, 0.842);
}

.about-content-container h1{

    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    /* or 81% */
    
    text-align: center;
    letter-spacing: 0.3px;
    
    color: #1e2327;

}

.media {

    padding-top:2%;
    display: flex;
    width: 20%;
    justify-content: space-between;

}

strong {
    color: #38A3F1;
    font-weight: 600;
}