.pricing-container{

    display: flex;
    width: 100%;
    background-color: white;
    height: 600px;
    align-items: center;
    flex-direction:column;
}

.pricing-container h1{
    color: rgba(0, 0, 0, 0.808);
    font-size: 45px;
}

.separate {
    height: 2px;
    background-color:rgba(0, 0, 0, 0.096);
    width: 90%;
}


.pricing-content-container{

    display: flex;
    height:500px;
    width: 26%;
    flex-direction: column;
    align-items: center;
    border-radius:20px;
    border: 2px solid;
    border-color: #4646461e;
}

.pricing-content-container a{
    min-width: 90%;
}

.pricing-header{
    background-color:#05D69D;
    width: 101%;
    height:40px;
    border-radius:20px 20px 0px 0px;
    text-align:center;
    color:white;

}

.pricing-header p{
    margin-top: 2%;
    font-size:18px;
    font-weight:700;
}

.plans{

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width:90%;
    padding-top:12%;
}

.plans p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.774);
    font-weight: 600;
}

.plans h1{
    font-weight:600;
    font-size:22px;
    color: rgba(0, 0, 0, 0.808);
}

.row{
    display: flex;
    width: 90%;
    padding-top:2%;
    align-items:center;
}

.row p{
    color: rgba(27, 27, 27, 0.719);
    font-size: 20px;
    padding-left:2%;
}

.btn-hire {
    align-self: center;
    max-height: 50px;
    cursor: pointer;
    width: 90%;
    margin: 0% 5%;
    background-color: #38A3F1;
    color: #FCFCFC;
    font-size: 20px;
    font-weight: bold;
    border-radius: 22px;
    border: none;
} 
.btn-hire:hover{
    background-color: #1b9af5;
}

.btn-discount{

    align-self: center;
    height: 50px;
    cursor: pointer;
    margin: 0% 0;
    background-color: transparent;
    color: #38A3F1;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
} 
.btn-discount:hover{
    font-size: 22px;
    background-color: transparent;
}