.footer-section {

    width: 100%;
    display:flex;
    height:200px;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.footer-menu{

    width:25%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    color: #FCFCFC;
    font-weight: 600;
    font-size:20px;
}

.footer-menu:hover{
    cursor: pointer;
}

.media-footer{
    padding-top: 20px;
    display: flex;
    width: 10%;
    justify-content: space-between;
}